/* ATCKR About Page  */



/* reset styles */
article, body, div, footer, header, main h1, h2, h3, h4, nav, img, ul, li, p {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Share Tech Mono", monospace;
    line-height: 1.6;
    color: #00FF00;
    background-color: #0A0A0A;
}

/* this is the header section */
header {
    background: #0a0a0a;
    border-bottom: 2px solid #526d3a;
}
main{
    background-image: url("gif.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 14px 28px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    animation: fadeDown 1s ease forwards;
}

.logo {
    height: 150px;
   grid-column: 1;
   justify-self: left; 
}

nav {
    grid-column: 3;
    justify-self: end; 
}

nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Share Tech Mono", monospace;

}

nav a:hover {
    color: #52d63a;
}

/* about */

.about-container {
    max-width: 800px;   
    margin: 0 auto;     
    padding: 20px;
}

.about-container h1 {
    text-align: center;
    margin-bottom: 20px;
} 
/* footer */
.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: #888;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #555;
}

/* responsive web design for mobile devices only! */
@media print {
    .container, h1, h2, p {
        color: black;
        background-color: lightgrey;
    }
    
    .site-navigation ul {
        flex-direction: column;
        gap: 1em;
    }
    
    *nav {
        display: none;
    }
}
/* animations for fading */
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FADE UP */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}
 